<h3>this is the root component of {{packageName}}</h3>
<!-- Reference of Angular2 Material https://material.angular.io/components -->
<md-input-container>
    <input mdInput [(ngModel)]="mood" (keydown.enter)="cacheData()" placeholder="Enter your mood">
</md-input-container>
<button md-raised-button (click)="sendData()">Submit</button>
<!-- print out the input history -->
<input-mood [moods]="moods"></input-mood>

<span *ngIf="responseMessage!=null" [style.background-color]="responseMessageColor">{{responseMessage}}</span>
